# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data / outputs
data/
outputs/
*.csv
*.xlsx
*.parquet
*.pkl

# Credentials / secrets
credentials/
secrets/
*.json
*.key
*.pem